//
//-- Config
//


// colors
$color-base: #00afdb;
$color-light: #ededed;
$color-medium: #d5d5d5;
$color-medium-dark: #c2c2c2;
$color-dark: #515153;
$color-darkest: #222;



/*$color-base-light: #374362;
$color-gradient1: #b119ec;
$color-gradient2: #f8027e;
$color-highlight: #a91aef; */

