//
// -- Typography
//

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #515153;
}

.page-nav {
    font-family: 'Poppins', sans-serif;
}

.page-header__phone {
    font-family: 'Roboto', sans-serif;
}

    
